.header-container {
  background-color: #333;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.header-container h1:hover {
  text-decoration: underline;
}